@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    padding-top: 10px; /* Space for navbar */
    font-family: "Montserrat", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f9fa;
    height: 130vh;
}   

.hero {
    margin-top: 130px;
    padding: 0 30px; 
}
.hero h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 23%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds space between the cards */
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarges card on hover */
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 2rem;
    font-weight: bold;
}

.bg-primary {
    background-color: #007bff !important; /* Bootstrap primary color */
}

.bg-warning {
    background-color: #ffc107 !important; /* Bootstrap warning color */
}

.bg-success {
    background-color: #28a745 !important; /* Bootstrap success color */
}



.requests {
    width: calc(100% - 400px); /* Subtract the width of the sidebar */
    margin: 50px auto; /* Centers the section vertically and applies top margin */
    padding: 15px;
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 100px; 
}
.requests h2 {
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #007bff; 
    padding-bottom: 10px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse; 
}

.table th {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    text-align: center; 
    padding: 10px;
}

.table td {
    text-align: center; /* Center-align cell text */
    padding: 10px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
}

.table tr:hover {
    background-color: #e0e0e0; /* Darker gray on hover */
    cursor: pointer; 
}

.btn {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none; /* No border */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
