@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f8f9fa;
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Form Styling */
.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fffafa;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 650;
    margin-top: 5%;
    margin-bottom: 30px;
    color: #141414;
}

p {
    text-align: left;
    margin-left: 20%;
}

.form-section {
    margin-bottom: 30px;
    padding: 15px;
}

.form-section h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #141414;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #141414;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-control {
    width: 100%; /* Full width to match the layout */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 1rem;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 150px;
    margin-right: 5px;
    margin-top: 2%;
}

.terms-section {
    text-align: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitbtn {
    padding: 10px 20px;
    background-color: #C4203C;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 550;
    margin-top: 1%;
    margin-bottom: 5%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitbtn:hover {
    background-color: #f12245;
}

.publication-form {
    margin-top: 1%;
}
