@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    padding-top: 10px; /* Space for navbar */
    font-family: "Montserrat", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f9fa;
    height: 130vh;
}   

/* NAVBAR STYLE */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed; 
    top: 0; /* Stick it to the top of the viewport */
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visibility */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo .logo {
    height: 70px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-menu a:hover {
    color: #adadad;
    border-radius: 5px;
}

.notification-icon, .profile-icon {
    font-size: 1.5em;
}

.profile-img-navbar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-content{
    display: none; /* Hide dropdown by default */
    position: absolute;
    background-color: #333;
    min-width: 150px;
    z-index: 1;
    margin-top: 5px;
    border-radius: 5px;
    right: 0; 
}
.dropdown-content a{
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-transform: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}


/* SIDEBAR STYLE */
.sidebar {
    position: fixed; 
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 100px; /* Adds padding to push content below navbar */
    z-index: 999;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 17px;
    text-align: left;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.sidebar-menu li a:hover {
    background-color: #495057;
}

.sidebar-menu li a.active {
    font-weight: bold; /* Makes the active link bold */
}


.header-myrequest {
    margin-top: 120px;
    padding: 0 20px; /* Adds some padding to keep content away from the edges */
}

.header-myrequest h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 23%;
}

/* Styles for search and filter container */
.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-left: 23%;
    gap: 20px; 
}

.filter-container,
.search-bar-container {
    display: flex;
    align-items: center;
}
.search-bar-container {
    gap: 10px; /* Adjust gap between search input and button */
}

.search-filter-container .form-control {
    height: calc(2.5rem + 2px); /* Adjust height as needed */
    font-size: 1rem; 
}

/* Table Styles */
.table {
    width: 100%; 
    border-collapse: collapse; /* Prevents double borders */
    max-width: 70%; 
    margin-left: 23%; 
}

.table th, .table td {
    padding: 10px; 
    text-align: center; 
}